Todays task : 5 june 2022
   * q1 : Try to print a prime number in between 1 to 1000
   * q2 : Try to write a function which  is equivalent  to print function in python
   * q3 : Try to write a function which is a replica of list append , extend and pop function 
   * q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
   * q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
   * q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
   * q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        - shivan@ineuron.ai
        - sudhashu@ineuron.ai

# q1 : Try to print a prime number in between 1 to 1000

In [1]:
for num in range(1, 1001):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

# q2 : Try to write a function which  is equivalent  to print function in python

In [3]:
def my_print():
    data = input("Enter the data you want to print: ")
    return data


my_print()

Enter the data you want to print: This is FSDS 2022

'This is FSDS 2022'

# q3 : Try to write a function which is a replica of list append , extend and pop function

# append

In [16]:
l = [1,2,3,4,5, "s"]

In [17]:
def my_append():
    global l
    e = input("Enter the data you want to append in list: ")
    l = l+[e]
    return l
my_append()

Enter the data you want to append in list: new

[1, 2, 3, 4, 5, 's', 'new']

In [18]:
my_append()

Enter the data you want to append in list: new2

[1, 2, 3, 4, 5, 's', 'new', 'new2']

# extend

In [9]:
l = [1,2,3,4,5, "s"]
def my_extend(data):
    global l
    if type(data) == int:
        print("'int' object is not iterable")
        
    if type(data)==str  :
        for i in data:
            for j in i:
                l = l+[j]
                
    if type(data)==dict:
        for k in data.keys():
            l = l +[k]
            
    if type (data)== list:
        for i in data:
            if type(i)==int:
                l = l+[i]
            if type(i)==str:
                for j in i:
                    l = l+[j]
            if type(i)==dict:
                for k in i.keys():
                    l = l +[k]
            if type(i)==list:
                for z in i:
                    l = l +[z]
        
            
    if  type(data)==tuple: 
        for i in data:
            if type(i)==int:
                l = l+[i]
            if type(i)==str:
                for j in i:
                    l = l+[j]
            if type(i)==dict:
                for k in i.keys():
                    l = l +[k]
            if type (i)== list:
                for b in i:
                    if type(b)==int:
                        l = l+[b]
                    if type(b)==str:
                        for c in b:
                            l = l+[c]
                    if type(b)==dict:
                        for k in b.keys():
                            l = l +[k]
                    if type(b)==list:
                        for z in i:
                            l = l +[z]
            
            
    
    return l


my_extend(123)

'int' object is not iterable

[1, 2, 3, 4, 5, 's']

In [10]:
my_extend("FSDS")  # string extend

[1, 2, 3, 4, 5, 's', 'F', 'S', 'D', 'S']

In [11]:
my_extend({5:"one",6:"two"})  # dictionary

[1, 2, 3, 4, 5, 's', 'F', 'S', 'D', 'S', 5, 6]

In [12]:
my_extend([7,8,9,"fsds",[10,11]])

[1,
 2,
 3,
 4,
 5,
 's',
 'F',
 'S',
 'D',
 'S',
 5,
 6,
 7,
 8,
 9,
 'f',
 's',
 'd',
 's',
 10,
 11]

In [14]:
my_extend((1,"y",[1,2],{1:"one",2:"two"}))

[1,
 2,
 3,
 4,
 5,
 's',
 'F',
 'S',
 'D',
 'S',
 5,
 6,
 7,
 8,
 9,
 'f',
 's',
 'd',
 's',
 10,
 11,
 1,
 'y',
 1,
 2,
 1,
 2]

# pop

In [18]:
def my_pop(data):
    n = len(data)
    popped=[]
    for j in range(n-1):
        popped.append(data[j])
    print(data[n-1])
    return popped
    
my_pop([1,2,3,4,5])

5

[1, 2, 3, 4]

# q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [36]:
concat_string = lambda *s: print("".join(s))
concat_string("FS","DS","20","22")

FSDS2022

# q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [43]:
n = lambda m: [i*i for i in m ] 
n(range(101))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

# q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
lambda argument(s): expression

In [44]:
#1
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [2]:
#2
x = lambda *a: a
x(1,2,3)

(1, 2, 3)

In [9]:
#3
x = lambda **a: a
x(a="one",b="two")

{'a': 'one', 'b': 'two'}

In [11]:
#4
(lambda x: x*2)(12)

24

Lambda functions can be used together with Python's built-in functions like map(), filter() etc.

The filter() function in Python takes in a function and a list as arguments.
* filter(object, iterable)
- The function is called with all the items in the list and a new list is returned which contains items for which the function evaluates to True.

Here is an example use of filter() function to filter out only even numbers from a list.

In [12]:
#5
# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

[4, 6, 8, 12]

The map() function in Python takes in a function and a list.
* map(object, iterable_1, iterable_2, ...)
* The function is called with all the items in the list and a new list is returned which contains items returned by that function for each item.

Here is an example use of map() function to double all the items in a list.

In [13]:
#6
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [14]:
#7 
n = lambda *m: [i*i for i in m ] 
n(1,2,3,4,5)

[1, 4, 9, 16, 25]

In [17]:
#8 list comprehension
s= "FSDS"
extend = lambda *m: [i for i in s]
extend()

['F', 'S', 'D', 'S']

In [19]:
#9 return set 
s= "FSDS"
set_lambda = lambda *m: {i for i in s}
set_lambda()

{'D', 'F', 'S'}

In [24]:
#10
d= {"a":"one","b":"two", "a":"three"}
unique_keys = lambda *m: {i for i in d}
unique_keys()

{'a', 'b'}

# q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file

In [4]:
def write_file():
    f = open("test.txt", "w")      
    f.write("I created this file") 
    f.close()
    
    
write_file()

In [6]:

    
def read_file():
    f= open("test.txt","r")
    f.seek(0)
    return f.read()


read_file()

'I created this file'