# Challenge 2: FSDS 2022

# Q1 :
      ineruon 
      ineruon ineruon 
      ineruon ineruon ineruon
      ineruon ineruon ineruon ineruon

In [1]:
n = 4 
for i in range(0,n):         # outer for represents a row  number of row
    for j in range(0,i+1):   # inner for represents column
        print("ineuron" , end = " ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

# Q2 - 

                 ineruon
           ineruon      ineruon
      ineruon	 ineruon 	ineruon
	       ineruon		ineruon
		         ineruon

In [ ]:
q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [2]:
n = 4
                                                       # centre function 
for i in range(0,n):       
    for j in range(n-i):
        print('', end=' '*len("ineuron"))  
    
    for j in range(i):
        print('ineuron',end=' '*len("ineuron")) 
    print()
    
for i in range(n-2,0,-1):  # row
    for j in range(n-i):   
        print('', end=' '*len("ineuron")) 
    for j in range(i):    # column
        print('ineuron',end=' '*len("ineuron")) 
    print()

                     ineuron
              ineuron       ineuron
       ineuron       ineuron       ineuron
              ineuron       ineuron
                     ineuron

In [1]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

# Q3 : Try to extract all the list entity

In [4]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [5]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

# Q4 : Try to extract all the dict entities

In [6]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [7]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

# Q5 : Try to extract all the tuples entities

In [8]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [9]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

# Q6 : Try to extract all the numerical data it may b a part of dict key and values

In [10]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [11]:
for i in l:
    if type(i) == list or type(i)== tuple or type(i)== set:
        for j in i:
            if type(j)==int:
                print(j)
    if type(i)== dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                print(k)
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

# Q7 : Try to give summation of all the numeric data

In [ ]:
l

In [12]:
a1=a2=a3 =0
for i in l:
    if type(i) == list or type(i)== tuple or type(i)== set:
        for j in i:
            if type(j)==int:
                a1 = a1+j
    if type(i)== dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                a2 = a2+k
                a3= a3+v
print("The summation of all the numeric data is {}".format(a1+a2+a3))

The summation of all the numeric data is 156

# Q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [13]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [14]:
for i in l:
    if type(i) == list:
        for j in i:
            if type(j)==int:
                if (j%2)!=0:
                    print(j)

1
3

# Q9 : Try to extract "ineuron" out of this data

In [ ]:
l

In [15]:
for i in l:
    if type(i)== list:
        for j in i:
            if j == "ineuron":
                print("{} from {}" .format(j, type(i)))
    if type(i)==dict:
        for k,v in i.items():
            if v == "ineuron":
                print("{} from {}" .format(v, type(i)))

ineuron from <class 'dict'>
ineuron from <class 'list'>

# Q10 :Try to find out a number of occurances of all the data

In [16]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [4]:
l1 = []
m = 1
for i in l:
    for j in i:
        l1.append(j)
for i in l:
    if type(i)== dict:
        for v in i.values():
            l1.append(v)
            
print(set(l1))

for i in set(l1):
     print(i,":",l1.count(i))

{1, 2, 3, 4, 5, 6, 7, 'k2', 8, 'k1', 45, 'data science ', 'kumar', 'ineuron', 23, 'sudh', 'k3'}
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
8 : 1
k1 : 1
45 : 1
data science  : 1
kumar : 1
ineuron : 2
23 : 1
sudh : 1
k3 : 1

In [17]:
l1 = []
l2=[]
m = 1
for i in l:
    for j in i:
        l1.append(j)
for i in l:
    if type(i)== dict:
        for v in i.values():
            l2.append(v)
            fl = l1+l2
print(set(fl))

{'kumar', 1, 2, 3, 4, 5, 6, 7, 'k2', 8, 45, 'sudh', 'data science ', 'k1', 'ineuron', 23, 'k3'}

In [18]:
for i in set(fl):
     print(i,":",fl.count(i))

kumar : 1
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
8 : 1
45 : 1
sudh : 1
data science  : 1
k1 : 1
ineuron : 2
23 : 1
k3 : 1

# Q11 : Try to find out number of keys in dict element

In [19]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [20]:
for i in l:
    if type(i)== dict:
        print(len(i))

5

# Q12 : Try to filter out all the string data

In [21]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [22]:
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str:
                print(k)
            if type(v) == str:
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

# Q13 : Try to Find  out alphanum in data

In [27]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [39]:
l1 = []
l2=[]
m = 1
for i in l:
    for j in i:
        l1.append(j)
for i in l:
    if type(i)== dict:
        for v in i.values():
            l2.append(v)
            fl = l1+l2
for i in set(fl):
    if type(i)== str:
        if i.isalnum() == True:
            print(i)

kumar
k2
sudh
k1
ineuron
k3

* int has no attributes as isalnum. it is a string attribute
* 'data science 'has space

# Q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [23]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [44]:
l1 = []
l2=[]
m = 1
for i in l:
    for j in i:
        l1.append(j)
for i in l:
    if type(i)== dict:
        for v in i.values():
            l2.append(v)
            fl = l1+l2
print(fl)
print("\n")
for j in fl:
    if type(j)==int:
        print(j)
        m = m*j
print("multiplication of all the above numeric data is {}". format(m))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'ineuron', 'data science ', 'sudh', 'ineuron', 'kumar', 6, 8]


1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
7
6
8
multiplication of all the above numeric data is 908605071360000

In [2]:
for i in l:
    m = 1
    if type(i) == tuple or type(i) == list or type(i) == set :
        for j in i:
            if type(j) == int:
                m *= j
        print('Multipilcation of',type(i),'is',m)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int and type(v) == int:
                m = m * k
                m = m * v
        print('Multipilcation of',type(i),'is',m)

Multipilcation of <class 'list'> is 24
Multipilcation of <class 'tuple'> is 720
Multipilcation of <class 'tuple'> is 2520
Multipilcation of <class 'set'> is 20700
Multipilcation of <class 'dict'> is 1008
Multipilcation of <class 'list'> is 1

# Q15 : Try to unwrape all the collection inside collection and create a flat list

In [25]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [40]:
l1 = []
l2=[]
m = 1
for i in l:
    for j in i:
        l1.append(j)
for i in l:
    if type(i)== dict:
        for v in i.values():
            l2.append(v)
            fl = l1+l2
print(set(fl))

{'kumar', 1, 2, 3, 4, 5, 6, 7, 'k2', 8, 45, 'sudh', 'data science ', 'k1', 'ineuron', 23, 'k3'}